<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsive Header & Footer design</title>
    <!-- <link rel="icon" href="resources/auctioner.png" type="image/png">       Setting the favicon -->
    <!--Stylesheets..-->
    <link href="./css/styles.css" rel="stylesheet" type="text/css">   <!--Custom Stylesheet-->
    <link href="./css/header-styling.css" rel="stylesheet" type="text/css">
    <link href="./css/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body> 
    <!-- Heading content-->
    <header><a href="#" class="logo"> <img class="logo-img" src="./images/auction_2.png"></a>
        <ul class="navigation">
            <li><a href="./howItWorks">How it works?</a></li>
            <li><a href="/exploreauction?name=<%=records%>">Explore Auctions</a></li>
            <li><a href="/wanttoauction?name=<%=records%>">Want to Auction?</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li> 
        </ul>
        <form action="/logout" method="post">
            <button style="height:30px;background-color: white;width:80px;border-radius: 5px;cursor: pointer;">logout</button>
          
        </form>
        <div class="search">
            <input type="text"  placeholder="Search our Inventory" /> <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>

    <!-- Section content-->
    <div class="banner">
        <div class="content">
            <h2>e-Auction system</h2>
            <p>An e-auction is a transaction between sellers (the auctioneers) and bidders (suppliers in the business to business scenarios) that takes place on an electronic marketplace. It can occur business to business, business to consumer, or consumer to consumer, and allows suppliers to bid online against each other for contracts against a published specification.</p>
            <a href="#"> Read more...</a>
        </div>
        <img src="./images/auction_situation.jpg" class="image" alt="A computer and mobile image"> <!--source: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    </div>
     
    <!--footer content-->
    <footer>
        <div class="container">
            <div class="section aboutUs">
                <h2> About us</h2>
                <p>Lorem ipsum dolor sit amet consectet</p>
                <ul class="socialSites">
                    <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="section quickLinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="section Auctions">
                <h2>Bid on..</h2>
                <ul>
                    <li><a href="">Antique Products</a></li>
                    <li><a href="">Vehicles</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Players</a></li>
                </ul>
            </div>
            <div class="section contactUs">
                <h2>Contact Us</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>3-5-1026, Narayanguda Rd, Hari Vihar Colony, <br/>
                            Bhawani Nagar, Narayanguda,<br/>
                            Telangana 500029.</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p><a href="tel:012345678">+91 012345678</a><br/>
                        <a href="tel:123456789">+91 123456789</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <p><a href="mailto:helloworld@email.com">helloworld@email.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyRightsText credits">
        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 HelloWorldWeb. All Rights Reserved.</p>
        <p>Image-Credits: freepik and flaticon.</p>
    </div>
</body>
</html>