<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/winner.css">
</head>
<body>
    <div class="outside">

    
    <div class="container">
               <div class="right">
                   <!-- <img src="/images/clipart1.png" alt="ntg"> -->
                <h1 >Congratulations!!</h1>
                 <p>✨winner of the auction✨</p>
                  <p style="font-size: 30px;font-weight: bolder;"><%=records.namei%></p>
                  <p>with bidding_amount: <%=records.min%></p>
               </div>
        </div>
    </div>
    
</body>
</html>